* {
  margin: 0;
  padding: 0;
}
body {
  overflow-y: hidden;
  font-style: bold;
  font-weight: 600;
  background-color: whitesmoke;
}
.aside {
  min-height: 100vh;
  width: auto;
  background-color: rgb(0, 0, 56);
  float: left;
  /* overflow: hidden; */

}
.dashboard_img {
  display: flex;
  padding-left: 20px;
  margin-top: 20px;
  color: white;
}

.dashboard_img p {
  padding-top: 6px;
}

img {
  height: 30px;
  border-radius: 40px;
  margin-right: 10px;
}

nav {
  margin-top: 90px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

li a:hover {
  border-left: 4px solid rgb(0, 140, 255);
  background-color: rgb(0, 0, 77);
}

.header {
  background-color: #f5f5f5;
  height: 60px;
  margin-left: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

.dashboard-section {
  display: none;
}

.dashboard-section.active {
  display: block;
}

.section {
  background-color: #f5f5f5;
  height: 100vh;
}

#form1 {
  background-color: #ffffff;
  height: 480px;
  padding: 30px;
  margin-top: 80px;
  margin-right: 300px;
  margin-left: 400px;
  margin-bottom: 1rem;
  box-shadow: rgba(40, 40, 60, 0.25) 0px 20px 40px -11px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

label {
  font-size: 16px;
}

.add_inp {
  height: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  border: 1px solid;
}

.add_para {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type="date"] {
  width: 200px;
}

.form_right {
  float: right;
}

.form_left {
  float: left;
}

.add_btn {
  padding: 12px 20px;
  color: white;
  background-color: rgb(0, 0, 77);
  width: 200px;
  margin-top: 170px;
  border-radius: 7px;
  border: none;
  font-style: bold;
  font-weight: 700;
  cursor: pointer;
}

.add_btn:hover {
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 7px;
  font-size: 20px;
}

.error_style {
  color: red;
}

.add_error1 {
  font-size: 12px;
}

.add_error2 {
  font-size: 12px;
}

.add_error3 {
  font-size: 12px;
}

.add_error4 {
  font-size: 12px;
}

.add_error5 {
  font-size: 12px;
}

.add_error6 {
  font-size: 12px;
}

.add_error7 {
  font-size: 12px;
  margin-bottom: -60px;
}

#form2 {
  background-color: white;
  margin-top: 10px;
  border-radius: 7px;
  height: 300px;
  padding: 30px;
  margin-top: 80px;
  margin-left: 500px;
  margin-right: 500px;
  box-shadow: rgba(40, 40, 60, 0.25) 0px 20px 40px -11px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.find_inp {
  height: 30px;
  padding: 5px;
  margin: 20px;
  border-radius: 7px;
  border: 1px solid;
}

.find_btn {
  padding: 12px 20px;
  color: white;
  background-color: rgb(0, 0, 77);
  width: 100px;
  margin-left: 90px;
  margin-top: 70px;
  border-radius: 7px;
  border: none;
  font-style: bold;
  font-weight: 700;
}

.find_btn:hover {
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 7px;
  font-size: 20px;
}

.find_error {
  margin-left: 70px;
  font-size: 12px;
}

#form3 {
  background-color: white;
  margin-top: 10px;
  border-radius: 7px;
  height: 300px;
  padding: 30px;
  margin-top: 80px;
  margin-left: 500px;
  margin-right: 500px;
  box-shadow: rgba(40, 40, 60, 0.25) 0px 20px 40px -11px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.update_inp {
  height: 30px;
  padding: 5px;
  margin: 20px;
  border-radius: 7px;
  border: 1px solid;
}

.update_btn {
  padding: 12px 20px;
  color: white;
  background-color: rgb(0, 0, 77);
  width: 100px;
  margin-left: 90px;
  margin-top: 70px;
  border-radius: 7px;
  border: none;
  font-style: bold;
  font-weight: 700;
}

.update_btn:hover {
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 7px;
  font-size: 20px;
}

.update_error {
  font-size: 12px;
  margin-left: 70px;
}

#form4 {
  background-color: white;
  margin-top: 10px;
  border-radius: 7px;
  height: 300px;
  padding: 30px;
  margin-top: 80px;
  margin-left: 500px;
  margin-right: 500px;
  box-shadow: rgba(40, 40, 60, 0.25) 0px 20px 40px -11px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.delete_inp {
  height: 30px;
  padding: 5px;
  margin: 20px;
  border-radius: 7px;
  border: 1px solid;
}

.delete_btn {
  padding: 12px 20px;
  color: white;
  background-color: rgb(0, 0, 77);
  width: 100px;
  margin-left: 90px;
  margin-top: 70px;
  border-radius: 7px;
  border: none;
  font-style: bold;
  font-weight: 700;
}

.delete_btn:hover {
  background-color: rgb(0, 140, 255);
  color: white;
  border-radius: 7px;
  font-size: 20px;
}

.delete_error {
  font-size: 12px;
  margin-left: 70px;
}
